@font-face {
  font-family: "comic-cat";
  src:
    local("comic-cat"),
    url("../assets/comic-cat.otf") format("opentype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animateOnScroll {
    animation-timeline: scroll();
  }

  .animateOnView {
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 300px;
  }

  .pauseAnimation {
    animation-play-state: paused;
  }
}

* {
  @apply transition-all duration-300 ease-in-out;
}
