@font-face {
  font-family: "comic-cat";
  src:
    local("comic-cat"),
    url("../assets/comic-cat.otf") format("opentype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animateOnScroll {
    animation-timeline: scroll();
  }

  .pauseAnimation {
    animation-play-state: paused;
  }
}
